<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>添加</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/xadmin.css" />
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script type="text/javascript" src="/js/ajax-util.js"></script>
    <script type="text/javascript" src="/js/cookie.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <style>
        .layui-form-item .layui-form-label{
            width:120px;
        }
        body{
            background:url(/images/bg.png) no-repeat center;
            background-size:cover
        }
    </style>
</head>

<body>
<div class="x-body">
    <div id="form" class="layui-form layui-col-space5">
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>作业单编号：
            </label>
            <div class="layui-input-inline">
                <input type="text" id="id" name="id" onkeyup="idChange(this)"  placeholder="请输入作业单编号" class="layui-input" autocomplete="off">
            </div>

        </div>
        <div class="layui-form-item">
            <div style="display:none;" id="taskTypeDiv">
                <label  class="layui-form-label">
                    <span class="x-red">*</span>作业单类型：
                </label>
                <div class="layui-input-inline">
                    <input type="text" readonly  id="taskType" name="taskType" class="layui-input">
                </div>
            </div>
            <div id="projectIdDiv" style="display:none;">
                <label class="layui-form-label">
                    <span class="x-red">*</span>项目名称：
                </label>
                <div class="layui-input-inline layui-show-xs-block">
                    <select name="projectId" id="projectId">
                        <option th:text="${project.projectName}" th:value="${project.projectId}" th:each="project:${mesProjectList}" >待确认</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>作业单名称：
            </label>
            <div class="layui-input-inline">
                <input type="text" id="taskName" name="taskName"  placeholder="请输入作业单名称" class="layui-input" autocomplete="off">
            </div>
            <label class="layui-form-label">
                <span class="x-red">*</span>窗型类型：
            </label>
            <div class="layui-input-inline layui-show-xs-block">
                <select name="winType" id="winType">
                    <option th:text="${mdList.name}" th:value="${mdList.dicId}" th:each="mdList:${mesDictionariesList}">待确认</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">
                <span class="x-red">*</span>楼号：
            </label>
            <div class="layui-input-inline">
                <input type="text" placeholder="请输入楼号"  id="buildingNo" name="buildingNo" class="layui-input" autocomplete="off">
            </div>
            <label  class="layui-form-label">
                楼层：
            </label>
            <div class="layui-input-inline">
                <input type="text" placeholder="请输入楼层"  id="floorNo" name="floorNo" class="layui-input" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item" style="display:none;">
            <!--<label class="layui-form-label">-->
                <!--<span class="x-red">*</span>面积：-->
            <!--</label>-->
            <!--<div class="layui-input-inline">-->
                <!--<input type="text" id="measureArea" name="measureArea"  placeholder="请输入面积" class="layui-input" autocomplete="off">-->
            <!--</div>-->
            <label  class="layui-form-label">
                <span class="x-red">*</span>总樘数：
            </label>
            <div class="layui-input-inline">
                <input type="text" placeholder="请输入总樘数"  id="totalNum" name="totalNum" class="layui-input" autocomplete="off">
            </div>

        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">
                <span class="x-red">*</span>下发时间：
            </label>
            <div class="layui-input-inline">
                <input id="downTime" name="downTime"  placeholder="请输入下发时间" class="layui-input test-item" autocomplete="off">
            </div>
            <label  class="layui-form-label">
                <span class="x-red">*</span>交付时间：
            </label>
            <div class="layui-input-inline">
                <input placeholder="请输入交付时间"  id="deliveryTime" name="deliveryTime" class="layui-input test-item" autocomplete="off">
            </div>

        </div>
        <div class="layui-form-item">
            <label  class="layui-form-label">
                是否补单：
            </label>
            <div class="layui-input-inline">
                <input type="radio"   name="isSupply" class="layui-input" value="1" title="是">
                <input type="radio"   name="isSupply" class="layui-input" value="0" title="否" checked>
            </div>
            <label  class="layui-form-label">
                是否紧急单：
            </label>
            <div style="margin-left:55px;" class="layui-unselect layui-form-checkbox" id="urgentStatus" name="urgentStatus" value="0">
                <span>紧急单</span>
                <i class="layui-icon layui-icon-ok"></i>
            </div>
        </div>
        <div class="layui-card-body ">
            <table class="layui-table layui-form">
                <thead>
                <tr>
                    <th><span class="x-red">*</span>窗号</th>
                    <th><span class="x-red">*</span>数量</th>
                    <!--<th><span class="x-red">*</span>单位</th>-->
                    <th>操作</th>
                </thead>
                <tbody id="detailDiv">
                <tr>
                    <td>
                        <input type="text" onkeyup="this.value=this.value.toUpperCase()" placeholder="请输入窗号"  name="winNo" class="layui-input" autocomplete="off">
                    </td>
                    <td>
                        <input type="text" placeholder="请输入数量"  name="num" class="layui-input" autocomplete="off">
                    </td>
                    <!--<td>-->
                        <!--<input type="text" placeholder="请输入单位"  name="unitType" class="layui-input" value="樘" autocomplete="off">-->
                    <!--</td>-->
                    <td class="td-manage">
                        <a title="添加一行" onclick="row_add(this)" href="javascript:;">
                            <i class="layui-icon">&#xe654;</i></a>
                        <a title="移除当前行" onclick="row_del(this)" href="javascript:;">
                            <i class="layui-icon">&#x1006;</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <label class="layui-form-label">
            </label>
            <button  class="layui-btn"  onclick="add()">
                提交
            </button>
        </div>
    </div>
</div>
<script>

    $(function(){

        $("div[name='urgentStatus']").click(function () {
            if ($(this).attr("value") == '0') {
                $(this).attr("class", "layui-unselect layui-form-checkbox layui-form-checked")
                $(this).attr("value", "1")
            } else {
                $(this).attr("class", "layui-unselect layui-form-checkbox")
                $(this).attr("value", "0")
            }
        });
    })

    function idChange(obj){
        obj.value = obj.value.toUpperCase();
        var content = $.trim(obj.value)
        if(content.substring(0,2) == "GC"){
            $("#taskTypeDiv").attr("style","display:block");
            $("#projectIdDiv").attr("style","display:block");
            $("#taskType").val("工程")
        }else if(content.substring(0,2) == "SD"){
            $("#taskTypeDiv").attr("style","display:block");
            $("#projectIdDiv").attr("style","display:block");
            $("#taskType").val("散单")
        }else if(content.substring(0,3) == "DJG"){
            $("#taskTypeDiv").attr("style","display:block");
            $("#projectIdDiv").attr("style","display:block");
            $("#taskType").val("代加工")
        }else{
            $("#taskTypeDiv").attr("style","display:none");
            $("#projectIdDiv").attr("style","display:none");
            $("#taskType").val("")
        }
    }

    var projectNum = '';
    layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;

        var downTime = laydate.render({
            elem: "#downTime",
            format:'yyyy-MM-dd',
            trigger: 'click',//解决弹出页面时插件闪退
            done:function(value,date){
                if(value!=""){
                    date.month=date.month-1;
                    deliveryTime.config.min=date;
                }else{
                    deliveryTime.config.min=downTime.config.min;
                }
            },
        });

        var deliveryTime = laydate.render({
            elem: "#deliveryTime",
            format:'yyyy-MM-dd',
            trigger: 'click',//解决弹出页面时插件闪退
            done:function(value,date){
                if(value!=""){
                    date.month=date.month-1;
                    downTime.config.max=date;
                }else{
                    downTime.config.max=deliveryTime.config.max;
                }
            }
        });

    });

    // 验证重复元素，有重复返回true；否则返回false
    function isRepeat(arr) {
        var hash = {};
        for(var i in arr) {
            if(hash[arr[i]])
            {
                return true;
            }
            // 不存在该元素，则赋值为true，可以赋任意值，相应的修改if判断条件即可
            hash[arr[i]] = true;
        }
        return false;
    }

    function add(){

        //作业单详细
        var winNo = $("*[name='winNo']").map(function(){return $(this).val()}).get().join(",");
        var num = $("*[name='num']").map(function(){return $(this).val()}).get().join(",");
        // var unitType = $("*[name='unitType']").map(function(){return $(this).val()}).get().join(",");
        // var taskWinType = $("*[name='taskWinType']").map(function(){return $(this).val()}).get().join(",");
        var size = $("#detailDiv").find("tr").length;

        if(isRepeat(winNo.split(','))){
            layer.msg("窗号不能重复",{icon:7,time:2000});
            return;
        }

        for(var i = 0 ; i < winNo.split(",").length; i ++){
            if(winNo.split(",")[i] == ''){
                layer.msg("请检查并确认第行"+(i+1)+"窗号是否输入",{icon:7,time:2000});
                return;
            }
        }
        var total1 = 0;
        for(var i = 0 ; i < num.split(",").length; i ++){
            if(num.split(",")[i] == ''){
                layer.msg("请检查并确认第"+(i+1)+"行数量是否输入",{icon:7,time:2000});
                return;
            }else if(!/^[1-9]\d*$/.test(num.split(",")[i])){
                layer.msg("第"+(i+1)+"行数量必须输入正整数",{icon:7,time:2000});
                return;
            }else{
                total1 += parseInt(num.split(",")[i]);
            }
        }

        //作业单基本信息
        var id = $.trim($("#id").val());
        var taskType = $.trim($("#taskType").val());
        var projectId = $.trim($("#projectId").val());
        var winType = $.trim($("#winType").val());
        var winTypeName = $("#winType option:selected").text();
        var taskName = $.trim($("#taskName").val());
        var buildingNo = $.trim($("#buildingNo").val());
        // var measureArea = $.trim($("#measureArea").val());
        var totalNum = total1;
        var isSupply = $("input[name='isSupply']:checked").val();
        var floorNo = $.trim($("#floorNo").val());
        var downTime = $.trim($("#downTime").val());
        var deliveryTime = $.trim($("#deliveryTime").val());
        var urgentStatus = $("#urgentStatus").attr("value");

        if(id.substring(0,2) != "GC" && id.substr(0,2) != "SD" && id.substring(0,3) != "DJG" && id.substring(0,3) != "BD"){
            layer.msg("项目编号输入不符合规则,请以GC,SD,DJG开头",{icon:7,time:2000});
            return;
        }

        if(id==""){
            layer.msg("请输入作业单编号",{icon:7,time:2000});
            return;
        }
        if(taskName==""){
            layer.msg("请输入作业单名称",{icon:7,time:1000});
            return;
        }
        if(buildingNo==""){
            layer.msg("请输入楼号",{icon:7,time:2000});
            return;
        }
        if(downTime==""){
            layer.msg("请输入下发时间",{icon:7,time:2000});
            return;
        }
        if(deliveryTime==""){
            layer.msg("请输入交付时间",{icon:7,time:2000});
            return;
        }

        layer.confirm('确认要提交吗？',function() {
            $.ajax({
                url: '/mesTask/mesTaskAdd',
                data: {
                    'id': id,
                    'taskType': taskType,
                    'projectId': projectId,
                    'taskName': taskName,
                    'winType': winType,
                    'winTypeName': winTypeName,
                    'buildingNo': buildingNo,
                    'floorNo': floorNo,
                    'downTime': downTime,
                    'deliveryTime': deliveryTime,
                    'urgentStatus': urgentStatus,
                    // 'measureArea': measureArea,
                    'totalNum': totalNum,
                    'isSupply': isSupply,
                    'winNo': winNo,
                    'num': num,
                    "size":size
                },
                type: 'POST',
                async: true,
                beforeSend: function () {
                    return layer.msg('拼命执行中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: false,offset: 'auto', time:100000});
                },
                success: function (res) {
                    if (res.status) {
                        window.parent.location.reload();
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        layer.msg(res.msg, {icon: 1, time: 1000});
                    }else{
                        layer.msg(res.msg, {icon: 7, time: 3000});
                    }
                }
            })
        });
    }

    /*删除一行*/
    function row_del(obj) {
        var index = $("#detailDiv").find("tr").length
        if(index == 1){
            layer.msg('已至末行，无法删除!',{icon:1,time:1000});
        }else{
            $(obj).parents("tr").remove();
        }
    }
    /*添加一行*/
    var htmlContent = $("#detailDiv").html();
    function row_add(obj) {
        // console.info(htmlContent)
        $("#detailDiv").append(htmlContent);
    }
</script>
</body>

</html>