<!DOCTYPE html>
<html  class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="UTF-8">
    <title>部门列表</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/xadmin.css" />
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script type="text/javascript" src="/js/ajax-util.js"></script>
    <script type="text/javascript" src="/js/cookie.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <style>
      .layui-form-item .layui-input-inline{
        width:120px;
      }
      body{
        background:url(/images/bg.png) no-repeat center;
        background-size:cover
      }
    </style>
  </head>

  <body>

  <div class="x-body">
    <div class="layui-row">
      <!--<div style="margin-bottom:10px;color:#009688;font-size: 20px;" font-size="border"><i class="layui-icon" style="font-size: 30px;">&#xe702;</i>&nbsp;友情提示：如果存在二级部门，请按照如下格式输入：（一级部门名称-XXX）；如生产部-下料组<br></div>-->
      <div class="layui-form layui-col-md12 x-so layui-form-pane">
        <input id="mesDepart_name" class="layui-input" placeholder="请输入部门名称" name="cate_name" autocomplete="off">
        <button class="layui-btn" th:onclick="mesDepart_add()" ><i class="layui-icon"></i>添加</button>
      </div>
    </div>
    <table class="layui-table layui-form">
      <thead>
      <tr>
        <th>栏目名</th>
        <th width="550">操作</th>
      </thead>
      <tbody class="x-cate" th:each="mesDepart : ${mesDepartList}">
      <tr  th:cate-id='${mesDepart.id}' th:fid='${mesDepart.parentid == null ? 0 : mesDepart.parentid}' >
        <td>
          <span th:text="${mesDepart.parentid==null?'':'&nbsp;&nbsp;&nbsp;&nbsp;'}"></span>
          <i class="layui-icon x-show" status='true'>&#xe623;</i>
          <span th:text="${mesDepart.name}"> </span>
        </td>

        <td class="td-manage">
          <button class="layui-btn layui-btn layui-btn-xs" th:onclick="x_admin_show('编辑','/mesDepart/toMesDepartEdit',[[${mesDepart.id}]])" >编辑</button>
          <button th:if="${mesDepart.valid=='1'?true:false}" class="layui-btn layui-btn-warm layui-btn-xs"  th:onclick="x_admin_show('添加子部门','/mesDepart/toMesDepartAdd',[[${mesDepart.id}]])" >添加子部门</button>
          <button  class="layui-btn layui-btn-warm layui-btn-primary"  th:onclick="x_admin_show([[${mesDepart.name}]]+':分配人员','/mesDepart/toMesDepartUsersAdd',[[${mesDepart.id}]])" >分配人员</button>
          <button th:if="${mesDepart.valid=='1'?false:true}" class="layui-btn-danger layui-btn layui-btn-xs"  th:onclick="member_del(this,[[${mesDepart.id}]])" href="javascript:;" >删除</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <style type="text/css">

  </style>
  <script>
      layui.use(['form'], function(){
          form = layui.form;

      });

      //部门新增
      function mesDepart_add(){
          var name = $.trim($("#mesDepart_name").val());
          if(name==""){
              layer.msg("请输入部门名称",{icon:1,time:1000});
              return;
          }
          layer.confirm('确认要新增吗？',function(){
              $.ajax({
                  url:'/mesDepart/mesDepartAdd',
                  data:{
                      'id':null,
                      'name':name
                  },
                  success:function(res){
                      if(res.status){
                          location.reload()
                          layer.msg(res.msg,{icon:1,time:1000});
                      }else{
                          layer.msg(res.msg,{icon:1,time:1000});
                      }
                  }
              })
          });
      }

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(){
              $.ajax({
                  url:'/mesDepart/deleteByPrimaryKey',
                  data:{
                      'id':id
                  },
                  success:function(res){
                      if(res.status){
                          $(obj).parents("tr").remove();
                          layer.msg(res.msg,{icon:1,time:1000});
                      }else{
                          layer.msg(res.msg,{icon:1,time:1000});
                      }
                  }
              })
          });
      }



  </script>
  </body>

</html>