<!doctype html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>聚辉生产管控系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="/css/font.css"/>
    <link rel="stylesheet" href="/css/xadmin.css"/>
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script type="text/javascript" src="/js/cookie.js"></script>
    <script>
        // 是否开启刷新记忆tab功能
        // var is_remember = false;
    </script>
</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="javascript:;">聚辉生产管控系统</a></div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>
    <!--<ul class="layui-nav left fast-add" lay-filter="">-->
    <!--<li class="layui-nav-item">-->
    <!--<a href="javascript:;">+新增</a>-->
    <!--<dl class="layui-nav-child"> &lt;!&ndash; 二级菜单 &ndash;&gt;-->
    <!--<dd><a onclick="x_admin_show('资讯','https://www.baidu.com')"><i class="iconfont">&#xe6a2;</i>资讯</a></dd>-->
    <!--<dd><a onclick="x_admin_show('图片','https://www.baidu.com')"><i class="iconfont">&#xe6a8;</i>图片</a></dd>-->
    <!--<dd><a onclick="x_admin_show('用户','https://www.baidu.com')"><i class="iconfont">&#xe6b8;</i>用户</a></dd>-->
    <!--<dd><a onclick="x_admin_add_to_tab('在tab打开','https://www.baidu.com',true)"><i class="iconfont">&#xe6b8;</i>在tab打开</a></dd>-->
    <!--</dl>-->
    <!--</li>-->
    <!--</ul>-->
    <ul class="layui-nav right" lay-filter="">
      
        <li class="layui-nav-item">
            <!--<a href="javascript:;" th:text="${session.user.username}">admin11</a>-->
            <a href="javascript:;" th:text="${mesUsers.nickname}"></a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('修改密码','/mesUsers/toEditPassword','','700','700')">修改密码</a></dd>
                <!--<dd><a onclick="x_admin_show('切换帐号','http://www.baidu.com')">切换帐号</a></dd>-->
                <dd><a href="/logout">退出</a></dd>
            </dl>
        </li>

    </ul>

</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->

<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li th:each="mesMenu : ${menuList}">
                <a href="javascript:;">
                    <i class="iconfont" th:utext="${mesMenu.imgclass}"></i>
                    <cite th:text="${mesMenu.menuName}">会员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu" th:if="${mesMenu.childMesMenus != null}">
                    <li th:each="menuChild : ${mesMenu.childMesMenus}">
                        <a th:_href="${menuChild.url}">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite th:text="${menuChild.menuName}">会员列表(静态表格)</cite>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home"  id="isRead">
                <i class="layui-icon">&#xe68e;</i>我的消息
                <tbody id="isRead1"><span class="layui-badge" th:text="${count}" ></span></tbody>
            </li>
        </ul>

        <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
            <dl>
                <dd data-type="this">关闭当前</dd>
                <dd data-type="other">关闭其它</dd>
                <dd data-type="all">关闭全部</dd>
            </dl>
        </div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show"   id="isRead2">
                <iframe src='/mesMessage/toList' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
        <div id="tab_show"></div>
    </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright">Copyright ©2019 河南聚辉装饰工程有限公司 All Rights Reserved</div>
</div>
<!-- 底部结束 -->

<script>
    $(function () {
        setInterval(function () {
            $("#isRead").load(location.href+" #isRead");//注意后面DIV的ID前面的空格，很重要！没有空格的话，会出双眼皮！（也可以使用类名）
            $("#isRead2").load(location.href+" #isRead2");//注意后面DIV的ID前面的空格，很重要！没有空格的话，会出双眼皮！（也可以使用类名）
            // window.location.reload();

        }, 1000*60*5);//自动刷新
    })

    function refreshCount(){
        $("#isRead").load(location.href+" #isRead");
        $("#isRead2").load(location.href+" #isRead2");
    }
    var isRead1 = $("#isRead1").find("span").text();
    if (isRead1 == "0") {
        $("#isRead1").find("span").attr("style","display:none;")
    } else {
        $("#isRead1").find("span").attr("style","display:block;")
    }


</script>
</body>
</html>