<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.1</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="./css/font.css">
        <link rel="stylesheet" href="./css/xadmin.css">
    </head>
    <body>
    <div class="x-body">
        <h1>欢迎访问聚辉生产管理系统</h1>
        <!--<div class="layui-tab layui-tab-brief"  id="frenshDiv" th:fragment="table_refresh">-->
            <!--<xblock>-->
                <!--<ul class="layui-tab-title" style="font-weight: bolder;">-->
                    <!--<li>新通知-->
                        <!--<span class="layui-badge" id="isRead">${count}</span>-->
                    <!--</li>-->
                    <!--<li>全部标为已读</li>-->
                <!--</ul>-->
            <!--</xblock>-->
            <!--<table class="layui-table">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--&lt;!&ndash;<th>ID</th>&ndash;&gt;-->
                    <!--<th style="width:10%;">发送人</th>-->
                    <!--<th style="width:55%;">消息内容</th>-->
                    <!--<th style="width:15%;">发送时间</th>-->
                    <!--&lt;!&ndash;<th>手机</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>所属部门</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>角色</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>加入时间</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>状态</th>&ndash;&gt;-->
                    <!--<th style="width:10%;">操作</th>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr th:each="list : ${mesMessageList.list}">-->
                    <!--<td th:text="${list.sender}"></td>-->
                    <!--<td th:text="${list.content}"></td>-->
                    <!--<td th:text="${list.createDate}"></td>-->
                    <!--<td class="td-manage">-->
                        <!--<button th:if="${list.is_read}=='0'?true:false" title="标为已读" th:onclick="setReadSelect(this,[[${list.id}]])" class="layui-btn layui-btn layui-btn-xs">-->
                            <!--标为已读-->
                        <!--</button>-->
                    <!--</td>-->

                <!--</tr>-->
                <!--</tbody>-->
            <!--</table>-->
        <!--</div>-->
        <!--<div id="page" class="page" th:if="${mesMessageList.total gt 10}"></div>-->

    <script>

        // var currentPage = '';
        // $(function(){
        //     currentPage = $("#totalPage").val();
        //     pageinit(currentPage);
        // })
        //
        // function pageinit(curr){
        //     $('#page').pagination({
        //         coping: true,
        //         homePage: '首页',
        //         endPage: '末页',
        //         prevContent: '上一页',
        //         nextContent: '下一页',
        //         pageCount: curr,
        //         callback: function (api) {
        //             var url = '/mesMessage/toList?pageNum='+api.getCurrent()+'&name=null'
        //             $('#frenshDiv').load(url);
        //         }
        //     });
        // }

        // function search(){
        //     var url = '/mesCompany/toMesCompanyList?pageNum=1&name=1'
        //     $('#frenshDiv').load(url,'',function () {
        //         //查询后页数改变，重新加载分页
        //         currentPage = $("#totalPage").val();
        //         pageinit(currentPage);
        //
        //         if(parseInt($("#total").text())<5){
        //             $("#page").attr("style", "display:none");
        //         }else{
        //             $("#page").attr("style", "display:block");
        //         }
        //     });
        //
        // }

        function setReadSelect(obj,id){
            layer.confirm('确认要将当前消息设为已读吗？',function(){
                $.ajax({
                    url:'/mesMessage/setReadSelect',
                    data:{
                        'id':id
                    },
                    success:function(res){
                        if(res.status){
                            location.reload();
                            layer.msg(res.msg,{icon:1,time:2000});
                        }else{
                            layer.msg(res.msg,{icon:7,time:2000});
                        }
                    }
                })
            });
        }

        function setRead(){
            layer.confirm('确认要将全部未读消息设为已读吗？',function(){
                $.ajax({
                    url:'/mesMessage/setReadSelect',
                    success:function(res){
                        if(res.status){
                            location.reload();
                            layer.msg(res.msg,{icon:1,time:2000});
                        }else{
                            layer.msg(res.msg,{icon:7,time:2000});
                        }
                    }
                })
            });
        }
    </script>
    </body>
</html>