<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/lib/layui/css/layui.css" />

    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/xadmin.css" />
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script type="text/javascript" src="/js/ajax-util.js"></script>
    <script type="text/javascript" src="/js/cookie.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>

    <style>
        .layui-table-cell {
            height: auto;
            line-height: 28px;
            padding: 0 15px;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            box-sizing: border-box;
        }
        body {
            background: url(/images/bg.png) no-repeat center;
            background-size: cover
        }
    </style>
</head>
<body>
<div class="layui-card-body ">
    <div class="layui-inline layui-show-xs-block">
        <input type="text" name="taskName" placeholder="作业单名称" autocomplete="off" id="taskName" class="layui-input" th:value="${taskName}">
    </div>
    <div class="layui-inline layui-show-xs-block">
        <button class="layui-btn" id="layui-btn" data-type="reload">搜索</button>
    </div>
</div>

<div class="layui-card-body layui-text"  style="padding-top: 0px">
    <div id="toolbar">
    </div>
    <div id="tableRes" class="table-overlay">
        <table id="dataTable" lay-filter="dataTable" class="layui-hide"></table>
    </div>

</div>
<script type="text/html" id="operation">

</script>
<script>
    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#dataTable',
            url:"/mesProductionOrder/orderPageList",
            page: true,
            limit: 10,
            limits: [10,15,30],
            cols: [
                [
                    {title: '序号', type: 'numbers',align:'center',width:70},
                    {title: '生产订单编号', field: 'orderCode',align:'center',minWidth:125},
                    {title: '作业单编号', field: 'taskCode',align:'center',minWidth:130,templet:function (d) {
                            return '<button class="layui-btn" lay-event="setSign"lay-filter="add">'+d.taskCode+'</button>';
                        } },
                    {title: '作业单名称', field: 'taskName',align:'center',minWidth:200},
                    {title: '紧急状态', field: 'urgentStatus',minWidth:90,align:'center',templet:function (d) {
                            if(d.urgentStatus == "1"){
                                return "紧急"
                            }else{
                                return "正常"
                            }
                        }},
                    {title: '审核状态', field: 'status',align:'center',minWidth:90,templet:function (d) {
                            if(d.status == "1"){
                                return "释放"
                            }else  if(d.status == "2"){
                                return "未审核"
                            }else  if(d.status == "3"){
                                return "执行中"
                            }else  if(d.status == "4"){
                                return "关闭"
                            }
                        }},
                    {title: '下发时间', field: 'downTime',align:'center',minWidth:125},
                    {title: '交付时间', field: 'deliveryTime',align:'center',minWidth:125},
                    {title: '加工时间(小时)', field: 'processDate',align:'center',minWidth:125},
                    {title: '生产开始时间', field: 'biginDate',align:'center',minWidth:125},
                    {title: '生产结束时间', field: 'endDate',align:'center',minWidth:125},
                    {title:'操作', align:'center',minWidth:300,templet:function (d) {
                        if(d.status == '2'){
                            return '  <a class="layui-btn layui-btn-xs" lay-event="edit" th:each="menuButton:${menuButtonList}" th:if="${menuButton.buttonId}==\'2\'and ${menuButton.status}==\'1\'">编辑</a>\n' +
                                '    <a class="layui-btn layui-btn-xs" lay-event="del" th:each="menuButton:${menuButtonList}" th:if="${menuButton.buttonId}==\'5\'and ${menuButton.status}==\'1\'">删除</a>\n' +
                                '    <a class="layui-btn layui-btn-xs" lay-event="status"  th:each="menuButton:${menuButtonList}" th:if="${menuButton.buttonId}==\'17\'and ${menuButton.status}==\'1\'">订单状态</a>\n' +
                                '    <a class="layui-btn layui-btn-xs" lay-event="audit"  th:each="menuButton:${menuButtonList}" th:if="${menuButton.buttonId}==\'9\'and ${menuButton.status}==\'1\'">审核</a>'
                        }else{
                            return '  <a class="layui-btn layui-btn-disabled"  th:each="menuButton:${menuButtonList}" th:if="${menuButton.buttonId}==\'2\'and ${menuButton.status}==\'1\'">编辑</a>\n' +
                                '    <a class=" layui-btn layui-btn-disabled "  th:each="menuButton:${menuButtonList}" th:if="${menuButton.buttonId}==\'5\'and ${menuButton.status}==\'1\'">删除</a>\n' +
                                '    <a class="layui-btn layui-btn-xs" lay-event="status"  th:each="menuButton:${menuButtonList}" th:if="${menuButton.buttonId}==\'17\'and ${menuButton.status}==\'1\'">订单状态</a>\n' +
                                '    <a class="layui-btn layui-btn-xs" lay-event="audit"  th:each="menuButton:${menuButtonList}" th:if="${menuButton.buttonId}==\'9\'and ${menuButton.status}==\'1\'">审核</a>'
                        }

                        }}
                ]
            ]

        });
        //监听行工具事件
        table.on('tool(dataTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                        layer.confirm('确认删除吗', function(index){
                            $.ajax({
                                url:'/mesProductionOrder/taskDelOrder',
                                data:{
                                    'id':data.id
                                },
                                success:function(res){
                                    if (res.status) {
                                        $(".layui-laypage-btn")[0].click();
                                        layer.msg(res.msg, {icon: 1, time: 2000});
                                        layer.close(index);
                                    }else{
                                        layer.msg(res.msg, {icon: 7, time: 2000});
                                    }
                                }
                            })
                });
            } else if(obj.event === 'edit'){
                layer.open({
                    type: 2,
                    title:"编辑",
                    shadeClose: true,
                    shade: 0.8,
                    area: ['100%', '100%'],
                    content: "/mesProductionOrder/taskUpdatetOrder?id="+data.id+"&processDate="+data.processDate ,//iframe的url
                    maxmin: true,
                    end:function () {
                        $(".layui-laypage-btn")[0].click();
                    }
                })

            }else if(obj.event === 'audit'){
                layer.confirm('确认审核释放生产订单', function(index){
                    $.ajax({
                        url:'/mesProductionOrder/taskAuditOrder',
                        data:{
                            'id':data.id
                        },
                        success:function(res){
                            if (res.status) {
                                $(".layui-laypage-btn")[0].click();
                                layer.msg(res.msg, {icon: 1, time: 2000});
                                layer.close(index);
                            }else{
                                layer.msg(res.msg, {icon: 7, time: 2000});
                            }
                        }
                    })
                })
            } else if(obj.event === 'status'){
                layer.open({
                    type: 2,
                    title:"订单状态编辑",
                    shadeClose: true,
                    shade: 0.8,
                    area: ['100%', '100%'],
                    content: "/mesProductionOrder/taskStatusOrder?id="+data.id+"&processDate="+data.processDate ,//iframe的url
                    maxmin: true,
                    end:function () {
                        $(".layui-laypage-btn")[0].click();
                    }
                })

            }else if(obj.event === 'setSign'){
                layer.open({
                    type: 2,
                    title:"详情",
                    shadeClose: true,
                    shade: 0.8,
                    area: ['100%', '100%'],
                    // content:"/mesTask/mesTaskDataCountDateil?id="+data.taskCode ,//iframe的url
                    content:"/mesProductionOrder/getOrderDetailByTaskId?taskId="+data.taskCode ,//iframe的url
                    maxmin: true,
                    end:function () {
                        $(".layui-laypage-btn")[0].click();
                    }
                })
            }
        });
        //重载
        var $ = layui.$, active = {
            reload: function(){
                var taskName = $('#taskName').val();
                var id = $('#id').val();
                //执行重载
                table.reload('dataTable', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        taskName: taskName,
                    }
                });
            }
        };
        //查询触发
        $('#layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });





</script>

</body>

</html>