<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jh.dao.MesMenuMapper">

    <select id="findAllMenuByRoleId" parameterType="String" resultType="com.jh.entity.MesMenu">
        SELECT
            mm.id,mm.menu_name,mm.extends_menu_id,mm.sort,mm.url,
            mm.permission,mm.imgclass,
            mrm.id mrmId,mrm.role_id mrmRoleId,mrm.status mrmStatus,mrm.menu_id mrmMenuId
        FROM
            mes_menu mm
        LEFT JOIN mes_role_menu mrm ON mrm.menu_id = mm.id
        WHERE 1=1
          and mrm.status = '1'
        and mrm.role_id=#{role_id}
        order by mm.sort
    </select>

    <select id="getMenuNameWx" parameterType="String" resultType="com.jh.entity.MesMenu">
        SELECT
            menu_name
        FROM
            ( SELECT * FROM MES_ROLE_USERS WHERE role_id = #{roleId} AND users_id = #{usersId} ) mru
            LEFT JOIN mes_role_menu mrm ON mru.role_id = mrm.role_id
            AND mrm.STATUS = '1'
            LEFT JOIN mes_menu mm ON mm.id = mrm.menu_id
    </select>

    <select id="findPermissionMenuByRoleId" parameterType="String" resultType="com.jh.entity.MesMenu">
        SELECT
            mm.id,mm.menu_name,mm.extends_menu_id,mm.sort,mm.url,
            mm.permission,mm.imgclass,
            mrm.id mrmId,mrm.role_id mrmRoleId,mrm.status mrmStatus,mrm.menu_id mrmMenuId
        FROM
            mes_menu mm
        LEFT JOIN mes_role_menu mrm ON mrm.menu_id = mm.id
        WHERE 1=1
        and mrm.role_id=#{role_id}
        order by mm.sort
    </select>

    <select id="findMenuParentIdIsNotNull" parameterType="String" resultType="com.jh.entity.MesMenu">
      select
          mm.id,mm.menu_name,mm.extends_menu_id,mm.sort,mm.url,mm.permission,mm.imgclass,
          mrm.id mrmId,mrm.role_id mrmRoleId,mrm.status mrmStatus,mrm.menu_id mrmMenuId
      from
          mes_menu mm
      left join
          mes_role_menu mrm
      on
          mm.id=mrm.menu_id
      where
          mm.extends_menu_id is not null and mrm.role_id = #{mrmRoleId}
      order by mm.sort
    </select>

    <select id="getAllMenu" resultType="com.jh.entity.MesMenu">
      select
          mm.id,mm.menu_name,mm.extends_menu_id,mm.sort,mm.url,mm.permission,mm.imgclass
      from
          mes_menu mm
      order by mm.sort
    </select>
    <select id="getParentMenu" parameterType="String" resultType="com.jh.entity.MesMenu">
      select
          mm.id,mm.menu_name,mm.extends_menu_id,mm.sort,mm.url,mm.permission,mm.imgclass
      from
          mes_menu mm
      where id = (select menu_id from mes_role_menu where id=#{id})
      order by mm.sort
    </select>

</mapper>