<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.dao.MesProductionOrderMapper">
  <resultMap id="BaseResultMap" type="com.jh.entity.MesProductionOrder">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ORDER_CODE" jdbcType="VARCHAR" property="orderCode" />
    <result column="TASK_CODE" jdbcType="VARCHAR" property="taskCode" />
    <result column="TASK_NAME" jdbcType="VARCHAR" property="taskName" />
    <result column="DOWN_TIME" jdbcType="VARCHAR" property="downTime" />
    <result column="DELIVERY_TIME" jdbcType="VARCHAR" property="deliveryTime" />
    <result column="PROCESS_DATE" jdbcType="VARCHAR" property="processDate" />
    <result column="BIGIN_DATE" jdbcType="VARCHAR" property="biginDate" />
    <result column="END_DATE" jdbcType="VARCHAR" property="endDate" />
    <result column="DEL" jdbcType="VARCHAR" property="del" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="URGENT_STATUS" jdbcType="VARCHAR" property="urgentStatus" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_DATE" jdbcType="VARCHAR" property="createDate" />
  </resultMap>

  <sql id="Base_Column_List">
    ID,
    ORDER_CODE,
    TASK_CODE,
    TASK_NAME,
    DOWN_TIME,
    DELIVERY_TIME,
    PROCESS_DATE,
    BIGIN_DATE,
    END_DATE,
    DEL,
    STATUS,
    URGENT_STATUS,
    CREATE_BY,
    CREATE_DATE
  </sql>

  <select id="getOrderDetailByTaskId" parameterType="java.lang.String" resultType="com.jh.entity.MesProductionOrder">
    SELECT
        win_no,
        task_win_name,
        nameGroup,
        nameProcess,
        sum( totalNumbers ) totalNumbers
    FROM
        (
    SELECT
        a.win_no,
        a.task_win_name,
        md2.NAME nameGroup,
        md1.NAME nameProcess,
        round( ( mpq.REALITY_DATE + mpq.ASSIST_DATE ) * mwmc.numbers * a.num / 60, 2 ) totalNumbers
    FROM
        (
    SELECT
        mtd.win_no,
        mtd.task_win_type,
        mtd.task_win_name,
        mtd.num
    FROM
        mes_task mt
        LEFT JOIN mes_task_detail mtd ON mt.id = mtd.task_id
        AND mt.del = '0'
        AND mtd.del = '0'
        AND mtd.task_win_type IS NOT NULL
    WHERE
        mtd.task_id = #{taskId}
        ) a
        LEFT JOIN mes_win_model mwm ON a.task_win_type = mwm.CODE
        AND mwm.del = '0'
        LEFT JOIN MES_WIN_MODEL_CRAFT mwmc ON mwmc.WIN_MODEL_ID = mwm.WIN_ID
        AND mwmc.del = '0'
        AND mwmc.CODE = '4'
        LEFT JOIN MES_PROCESS_QUOTA mpq ON mpq.id = mwmc.
        NAME LEFT JOIN MES_DICTIONARIES md1 ON md1.dic_id = mpq.TEAM_GROUP
        LEFT JOIN MES_DICTIONARIES md2 ON md2.dic_id = mpq.STATUS
        )
    GROUP BY
        nameGroup,
        nameProcess,
        win_no,
        task_win_name
    ORDER BY
        win_no,
        nameGroup,
        nameProcess
  </select>
  <select id="getSumOrderDetailByTaskId" parameterType="java.lang.String" resultType="com.jh.entity.MesProductionOrder">
    select sum(totalNumbers) totalNumbers from (SELECT
        win_no,
        task_win_name,
        nameGroup,
        nameProcess,
        sum( totalNumbers ) totalNumbers
    FROM
        (
    SELECT
        a.win_no,
        a.task_win_name,
        md2.NAME nameGroup,
        md1.NAME nameProcess,
        round( ( mpq.REALITY_DATE + mpq.ASSIST_DATE ) * mwmc.numbers * a.num / 60, 2 ) totalNumbers
    FROM
        (
    SELECT
        mtd.win_no,
        mtd.task_win_type,
        mtd.task_win_name,
        mtd.num
    FROM
        mes_task mt
        LEFT JOIN mes_task_detail mtd ON mt.id = mtd.task_id
        AND mt.del = '0'
        AND mtd.del = '0'
        AND mtd.task_win_type IS NOT NULL
    WHERE
        mtd.task_id = #{taskId}
        ) a
        LEFT JOIN mes_win_model mwm ON a.task_win_type = mwm.CODE
        AND mwm.del = '0'
        LEFT JOIN MES_WIN_MODEL_CRAFT mwmc ON mwmc.WIN_MODEL_ID = mwm.WIN_ID
        AND mwmc.del = '0'
        AND mwmc.CODE = '4'
        LEFT JOIN MES_PROCESS_QUOTA mpq ON mpq.id = mwmc.
        NAME LEFT JOIN MES_DICTIONARIES md1 ON md1.dic_id = mpq.TEAM_GROUP
        LEFT JOIN MES_DICTIONARIES md2 ON md2.dic_id = mpq.STATUS
        )
    GROUP BY
        nameGroup,
        nameProcess,
        win_no,
        task_win_name
    ORDER BY
        win_no,
        nameGroup,
        nameProcess)
  </select>

  <select id="getListByTaskCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from  MES_PRODUCTION_ORDER
    where del = '0'
    and STATUS  = #{status}
  </select>

  <select id="findList" resultType="com.jh.entity.MesProductionOrder">
    select
      <include refid="Base_Column_List" />
    from  MES_PRODUCTION_ORDER
    where del =#{del}
    <if test="taskName != null and taskName != ''">
      and task_name like concat(concat('%',#{taskName}),'%')
    </if>
    order  by URGENT_STATUS desc ,DELIVERY_TIME desc
  </select>

  <select id="sel" resultType="com.jh.entity.MesProductionOrder">
    select
    <include refid="Base_Column_List" />
    from  MES_PRODUCTION_ORDER
  </select>


  <select id="find" resultType="com.jh.entity.MesProductionOrder">
    select
    <include refid="Base_Column_List" />
    from  MES_PRODUCTION_ORDER
    where id =#{id}
  </select>

  <update id="updateByTaskId" parameterType="com.jh.entity.MesProductionOrder">
    update MES_PRODUCTION_ORDER
    <set>
      <if test="orderCode != null">
        ORDER_CODE = #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        ID = #{id,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        TASK_NAME = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="downTime != null">
        DOWN_TIME = #{downTime,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null">
        DELIVERY_TIME = #{deliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="processDate != null">
        PROCESS_DATE = #{processDate,jdbcType=VARCHAR},
      </if>
      <if test="biginDate != null">
        BIGIN_DATE = #{biginDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null">
        END_DATE = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        DEL = #{del,jdbcType=VARCHAR},
      </if>
      <if test="urgentStatus != null">
        URGENT_STATUS = #{urgentStatus,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
 >
    </set>
    where TASK_CODE =#{taskCode}
  </update>

  <update id="update" parameterType="com.jh.entity.MesProductionOrder">
      update MES_PRODUCTION_ORDER
      <set>
        <if test="orderCode != null">
          ORDER_CODE = #{orderCode,jdbcType=VARCHAR},
        </if>
        <if test="taskCode != null">
          TASK_CODE = #{taskCode,jdbcType=VARCHAR},
        </if>
        <if test="taskName != null">
          TASK_NAME = #{taskName,jdbcType=VARCHAR},
        </if>
        <if test="downTime != null">
          DOWN_TIME = #{downTime,jdbcType=VARCHAR},
        </if>
        <if test="deliveryTime != null">
          DELIVERY_TIME = #{deliveryTime,jdbcType=VARCHAR},
        </if>
        <if test="processDate != null">
          PROCESS_DATE = #{processDate,jdbcType=VARCHAR},
        </if>
        <if test="biginDate != null">
          BIGIN_DATE = #{biginDate,jdbcType=VARCHAR},
        </if>
        <if test="endDate != null">
          END_DATE = #{endDate,jdbcType=VARCHAR},
        </if>
        <if test="status != null">
          STATUS = #{status,jdbcType=VARCHAR},
        </if>
        <if test="del != null">
          DEL = #{del,jdbcType=VARCHAR},
        </if>
        <if test="urgentStatus != null">
          URGENT_STATUS = #{urgentStatus,jdbcType=VARCHAR},
        </if>
        <if test="createBy != null">
          CREATE_BY = #{createBy,jdbcType=VARCHAR},
        </if>
        <if test="createDate != null">
          CREATE_DATE = #{createDate,jdbcType=VARCHAR},
        </if>
      </set>
    where id =#{id}
  </update>


  <insert id="insert" parameterType="com.jh.entity.MesProductionOrder">
    insert into MES_PRODUCTION_ORDER (ID, ORDER_CODE, TASK_CODE, 
      TASK_NAME, DOWN_TIME, DELIVERY_TIME, 
      PROCESS_DATE, BIGIN_DATE, END_DATE, 
      DEL, STATUS,URGENT_STATUS,CREATE_BY,CREATE_DATE)
    values (#{id,jdbcType=VARCHAR}, #{orderCode,jdbcType=VARCHAR}, #{taskCode,jdbcType=VARCHAR}, 
      #{taskName,jdbcType=VARCHAR}, #{downTime,jdbcType=VARCHAR}, #{deliveryTime,jdbcType=VARCHAR}, 
      #{processDate,jdbcType=VARCHAR}, #{biginDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR}, 
      #{del,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{urgentStatus,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jh.entity.MesProductionOrder">
    insert into MES_PRODUCTION_ORDER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orderCode != null">
        ORDER_CODE,
      </if>
      <if test="taskCode != null">
        TASK_CODE,
      </if>
      <if test="taskName != null">
        TASK_NAME,
      </if>
      <if test="downTime != null">
        DOWN_TIME,
      </if>
      <if test="deliveryTime != null">
        DELIVERY_TIME,
      </if>
      <if test="processDate != null">
        PROCESS_DATE,
      </if>
      <if test="biginDate != null">
        BIGIN_DATE,
      </if>
      <if test="endDate != null">
        END_DATE,
      </if>
      <if test="del != null">
        DEL,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="urgentStatus != null">
        URGENT_STATUS,
      </if>
      <if test="createBy != null">
        CREATE_BY,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderCode != null">
        #{orderCode,jdbcType=VARCHAR},
      </if>
      <if test="taskCode != null">
        #{taskCode,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="downTime != null">
        #{downTime,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null">
        #{deliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="processDate != null">
        #{processDate,jdbcType=VARCHAR},
      </if>
      <if test="biginDate != null">
        #{biginDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        #{del,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="urgentStatus != null">
        #{urgentStatus,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>
