<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.dao.MesProjectDetailMapper">
  <resultMap id="BaseResultMap" type="com.jh.entity.MesProjectDetail">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="WIN_NO" jdbcType="VARCHAR" property="winNo" />
    <result column="WIN_TYPE_ID" jdbcType="VARCHAR" property="winTypeId" />
    <result column="NUM" jdbcType="VARCHAR" property="num" />
    <result column="BLUEPRINT_WIDTH" jdbcType="VARCHAR" property="blueprintWidth" />
    <result column="DRAWING_HEIGHT" jdbcType="VARCHAR" property="drawingHeight" />
    <result column="WIN_WIDTH" jdbcType="VARCHAR" property="winWidth" />
    <result column="WIN_HEIGHT" jdbcType="VARCHAR" property="winHeight" />
    <result column="PRE_TOTAL" jdbcType="VARCHAR" property="preTotal" />
    <result column="PRICE" jdbcType="VARCHAR" property="price" />
    <result column="CREATE_DATE" jdbcType="VARCHAR" property="createDate" />
    <result column="VER" jdbcType="VARCHAR" property="ver" />
    <result column="ITEM" jdbcType="VARCHAR" property="item" />
    <result column="PROJECT_ID" jdbcType="VARCHAR" property="projectId" />
    <result column="DEL" jdbcType="VARCHAR" property="del" />
    <result column="TEMPID" jdbcType="VARCHAR" property="tempId" />
    <result column="PARTY_WIN_NO" jdbcType="VARCHAR" property="partyWinNo" />
  </resultMap>
  <insert id="insert" parameterType="com.jh.entity.MesProjectDetail">
    insert into MES_PROJECT_DETAIL (ID, WIN_NO, WIN_TYPE_ID, 
      NUM, BLUEPRINT_WIDTH, DRAWING_HEIGHT, 
      WIN_WIDTH, WIN_HEIGHT, PRE_TOTAL, 
      PRICE, CREATE_DATE, VER, 
      ITEM, PROJECT_ID,DEL,TEMPID,PARTY_WIN_NO)
    values (#{id,jdbcType=VARCHAR}, #{winNo,jdbcType=VARCHAR}, #{winTypeId,jdbcType=VARCHAR}, 
      #{num,jdbcType=VARCHAR}, #{blueprintWidth,jdbcType=VARCHAR}, #{drawingHeight,jdbcType=VARCHAR}, 
      #{winWidth,jdbcType=VARCHAR}, #{winHeight,jdbcType=VARCHAR}, #{preTotal,jdbcType=VARCHAR}, 
      #{price,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{ver,jdbcType=VARCHAR}, 
      #{item,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR},#{del,jdbcType=VARCHAR},#{tempId,jdbcType=VARCHAR},#{partyWinNo,jdbcType=VARCHAR})
  </insert>

  <select id="findList" resultType="com.jh.entity.MesProjectDetail">
      select
          *
      from
         MES_PROJECT_DETAIL a
      where
          a.del=#{del}
    <if test="tempId != null and tempId != '' ">
      and  a.TEMPID = #{tempId}
    </if>
      <if test="projectId != null and projectId != ''">
          and  a.PROJECT_ID = #{projectId}
      </if>
    <if test="ver != null and ver != ''">
      and  a.VER = #{ver}
    </if>
    <if test="winNo != null and winNo != '' ">
      and  a.WIN_NO = #{winNo}
    </if>
      <if test="item != null and item != ''">
          and a.ITEM = #{item}
      </if>
    order by a.WIN_NO desc ,a.CREATE_DATE desc
  </select>


    <select id="findAll" resultType="com.jh.entity.MesProjectDetail">
        select
         *
        from
         MES_PROJECT_DETAIL a
        where
           a.del=#{del}
           and  a.WIN_NO = #{winNo}
           and  a.ID != #{id}
           order by a.CREATE_DATE desc
    </select>

  <select id="find" resultType="com.jh.entity.MesProjectDetail">
    select
      *
    from
     MES_PROJECT_DETAIL
    where
     del=#{del}
    <if test="id != null ">
      and  ID = #{id}
  </if>
      <if test="projectId != null ">
          and  PROJECT_ID = #{projectId}
      </if>
    <if test="ver != null ">
      and  VER = #{ver}
    </if>

   <if test="item != null">
       and ITEM = #{item,jdbcType=VARCHAR},
  </if>
      order by CREATE_DATE desc
  </select>

    <select id="getMesProjectDetail" resultType="com.jh.entity.MesProjectDetail">
        select
        *
        from
        MES_PROJECT_DETAIL
        where
        del='0'
        <if test="winNo != null and winNo !='' ">
            and  win_no = #{winNo}
        </if>
        <if test="projectId != null ">
            and  PROJECT_ID = #{projectId}
        </if>
    </select>


    <update id="update" parameterType="com.jh.entity.MesProjectDetail">
        update MES_PROJECT_DETAIL
        <set>
            <if test="winNo != null"  >
                WIN_NO = #{winNo,jdbcType=VARCHAR},
            </if>
            <if test="winTypeId != null">
                WIN_TYPE_ID = #{winTypeId,jdbcType=VARCHAR},
            </if>
            <if test="num != null">
                NUM = #{num,jdbcType=VARCHAR},
            </if>
            <if test="blueprintWidth != null">
                BLUEPRINT_WIDTH = #{blueprintWidth,jdbcType=VARCHAR},
            </if>
            <if test="drawingHeight != null">
                DRAWING_HEIGHT = #{drawingHeight,jdbcType=VARCHAR},
            </if>
            <if test="winWidth != null">
                WIN_WIDTH = #{winWidth,jdbcType=VARCHAR},
            </if>
            <if test="winHeight != null">
                WIN_HEIGHT = #{winHeight,jdbcType=VARCHAR},
            </if>
            <if test="preTotal != null">
                PRE_TOTAL = #{preTotal,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                PRICE = #{price,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                CREATE_DATE = #{createDate,jdbcType=VARCHAR},
            </if>
            <if test="ver != null">
                VER = #{ver,jdbcType=VARCHAR},
            </if>
            <if test="item != null">
                ITEM = #{item,jdbcType=VARCHAR},
            </if>
            <if test="projectId != null">
                PROJECT_ID = #{projectId,jdbcType=VARCHAR},
            </if>
            <if test="tempId != null">
                TEMPID = #{tempId,jdbcType=VARCHAR},
            </if>
            <if test="del != null">
                DEL = #{del,jdbcType=VARCHAR},
            </if>
            <if test="partyWinNo != null">
                PARTY_WIN_NO = #{partyWinNo,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>

  <insert id="insertSelective" parameterType="com.jh.entity.MesProjectDetail">
    insert into MES_PROJECT_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="winNo != null">
        WIN_NO,
      </if>
      <if test="winTypeId != null">
        WIN_TYPE_ID,
      </if>
      <if test="num != null">
        NUM,
      </if>
      <if test="blueprintWidth != null">
        BLUEPRINT_WIDTH,
      </if>
      <if test="drawingHeight != null">
        DRAWING_HEIGHT,
      </if>
      <if test="winWidth != null">
        WIN_WIDTH,
      </if>
      <if test="winHeight != null">
        WIN_HEIGHT,
      </if>
      <if test="preTotal != null">
        PRE_TOTAL,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="ver != null">
        VER,
      </if>
      <if test="item != null">
        ITEM,
      </if>
      <if test="projectId != null">
        PROJECT_ID,
      </if>
      <if test="del != null">
        DEL,
      </if>
      <if test="tempId != null">
        TEMPID,
      </if>
        <if test="partyWinNo != null">
            PARTY_WIN_NO,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="winNo != null">
        #{winNo,jdbcType=VARCHAR},
      </if>
      <if test="winTypeId != null">
        #{winTypeId,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="blueprintWidth != null">
        #{blueprintWidth,jdbcType=VARCHAR},
      </if>
      <if test="drawingHeight != null">
        #{drawingHeight,jdbcType=VARCHAR},
      </if>
      <if test="winWidth != null">
        #{winWidth,jdbcType=VARCHAR},
      </if>
      <if test="winHeight != null">
        #{winHeight,jdbcType=VARCHAR},
      </if>
      <if test="preTotal != null">
        #{preTotal,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="ver != null">
        #{ver,jdbcType=VARCHAR},
      </if>
      <if test="item != null">
        #{item,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        #{del,jdbcType=VARCHAR},
      </if>
      <if test="tempId != null">
        #{tempId,jdbcType=VARCHAR},
      </if>
        <if test="partyWinNo != null">
            #{partyWinNo,jdbcType=VARCHAR},
        </if>
    </trim>
  </insert>


    <select id="pageList" resultType="com.jh.entity.MesProjectDetail">
        select
        *
        from
        (select t.*,rownum rownu from MES_PROJECT_DETAIL t
        where T.DEL = #{mesProjectDetail.del}
        <if test="mesProjectDetail.ver != null ">
            and  t.VER = #{mesProjectDetail.ver}
        </if>
        <if test="mesProjectDetail.projectId != null ">
            and  t.PROJECT_ID = #{mesProjectDetail.projectId}
        </if>
        and   rownum &lt;=  #{limit}
        order by  t.WIN_NO desc , t.CREATE_DATE desc  ) tt
        where tt.rownu>  #{page}

    </select>

    <select id="all" resultType="com.jh.entity.MesProjectDetail">
          SELECT
                MES_PROJECT_DETAIL.WIN_NO AS "winNo",
                MES_PROJECT_DETAIL.PROJECT_ID as "projectId",
                MES_PROJECT_DETAIL.WIN_TYPE_ID AS "winTypeId",
                MES_PROJECT_DETAIL.NUM AS "num",
                (
                SELECT
                    MES_TASK_DETAIL.TASK_WIN_TYPE
                FROM
                    MES_TASK_DETAIL LEFT JOIN MES_TASK on MES_TASK_DETAIL.TASK_ID =MES_TASK.ID
                WHERE
                    MES_TASK_DETAIL.WIN_NO = MES_PROJECT_DETAIL.WIN_NO
                    AND MES_TASK_DETAIL.del = '0'
                    and MES_TASK.PROJECT_ID = #{projectId}
                    AND MES_TASK_DETAIL.TASK_WIN_TYPE IS NOT NULL
                GROUP BY
                    MES_TASK_DETAIL.TASK_WIN_TYPE
                 ) AS "code",
                (
            SELECT COALESCE
                ( SUM( to_number ( MES_TASK_DETAIL.NUM ) ), 0 )
            FROM
                MES_TASK
                LEFT JOIN MES_TASK_DETAIL ON MES_TASK_DETAIL.TASK_ID = MES_TASK.ID
                where
                MES_TASK_DETAIL.DEL = '0'
                AND  MES_TASK.PROJECT_ID =#{projectId}
                AND MES_TASK_DETAIL.WIN_NO = MES_PROJECT_DETAIL.WIN_NO
                ) as "taskNum"
            FROM
                MES_PROJECT
                LEFT JOIN MES_PROJECT_DETAIL ON MES_PROJECT_DETAIL.PROJECT_ID = MES_PROJECT.PROJECT_ID
            WHERE
                MES_PROJECT_DETAIL.DEL = '0'
                AND MES_PROJECT_DETAIL.VER = '0'
                AND MES_PROJECT.DEL = '0'
                AND MES_PROJECT.STATE = '1'
                AND MES_PROJECT.PROJECT_ID = #{projectId}
                 AND MES_PROJECT_DETAIL.DEL = '0'
                order by MES_PROJECT_DETAIL.WIN_NO  DESC
    </select>

    <select id="allDateil" resultType="com.jh.entity.MesProjectDetail">
        SELECT
            MES_DICTIONARIES.NAME "winTypeId",
            MES_WIN_MODEL_CRAFT.NUMBERS AS "numbers",
            MES_DICTIONARIES.DIC_ID "dicId",
			MES_WIN_MODEL_CRAFT.WIN_MODEL_ID as "winModelId"
        FROM
             MES_WIN_MODEL
            right JOIN MES_WIN_MODEL_CRAFT ON MES_WIN_MODEL.WIN_ID = MES_WIN_MODEL_CRAFT.WIN_MODEL_ID
            LEFT JOIN MES_DICTIONARIES ON MES_DICTIONARIES.DIC_ID = MES_WIN_MODEL_CRAFT.NAME
        WHERE
            MES_WIN_MODEL.DEL = '0'
            AND MES_WIN_MODEL.CODE =#{code}
            AND MES_WIN_MODEL_CRAFT.CODE = '2'
            AND MES_WIN_MODEL_CRAFT.DEL = '0'
    </select>

    <select id="query" resultType="com.jh.entity.MesProjectDetail">
       SELECT COALESCE
       (sum( to_number ( MES_TASK_DETAIL.NUM ) ),0)AS "numCount"
       FROM
          MES_TASK_DETAIL
       WHERE
            MES_TASK_DETAIL.WIN_NO =#{winNo}
       GROUP BY
            MES_TASK_DETAIL.WIN_NO,
            MES_TASK_DETAIL.TASK_WIN_TYPE
    </select>

    <select id="queryCount" resultType="com.jh.entity.MesProjectDetail">
            SELECT  COALESCE
              (sum( to_number ( MES_BUDGET_TASKWORK.DONE_NUM ) ),0)AS "num",
        	  MES_BUDGET_TASKWORK.PROCESS_LEVEL as "processLevel",
	          MES_BUDGET_TASKWORK.PROCEDURE_ID as "procedureId",
	          MES_BUDGET_TASKWORK.PROCESS_LEVEL as  "processLevel"
            FROM
                MES_BUDGET_TASKWORK
            WHERE
                MES_BUDGET_TASKWORK.WIN_NO = #{winNo}
                AND MES_BUDGET_TASKWORK.MILESTONE = '1'
                AND MES_BUDGET_TASKWORK.PROCESS_LEVEL = #{dicId}
                AND MES_BUDGET_TASKWORK.PROJECT_ID = #{projectId}
             GROUP BY
              	MES_BUDGET_TASKWORK.PROCESS_LEVEL,
	            MES_BUDGET_TASKWORK.PROCEDURE_ID,
	            MES_BUDGET_TASKWORK.PROCESS_LEVEL
    </select>


    <select id="selALL" resultType="com.jh.entity.MesProjectDetail">
        select
        *
        from
        MES_PROJECT_DETAIL
        where
        del=#{del}
        <if test="projectId != null and projectId != ''">
            and  PROJECT_ID = #{projectId}
        </if>

        <if test="winNo != null and winNo != '' ">
            and  WIN_NO = #{winNo}
        </if>
    </select>


    <update id="updateALL">
       DELETE MES_PROJECT_DETAIL  WHERE MES_PROJECT_DETAIL.PROJECT_ID= #{mesProject}
    </update>
</mapper>