<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.dao.MesProcessQuotaMapper">
  <resultMap id="BaseResultMap" type="com.jh.entity.MesProcessQuota">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="UNIT" jdbcType="VARCHAR" property="unit" />
    <result column="PRICE" jdbcType="VARCHAR" property="price" />
    <result column="UNIT_PRICE" jdbcType="VARCHAR" property="unitPrice" />
    <result column="REALITY_DATE" jdbcType="VARCHAR" property="realityDate" />
    <result column="ASSIST_DATE" jdbcType="VARCHAR" property="assistDate" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="DEL" jdbcType="VARCHAR" property="del" />
    <result column="TEAM_GROUP" jdbcType="VARCHAR" property="teamGroup" />
    <result column="MILESTONE" jdbcType="VARCHAR" property="milestone" />
    <result column="MILESTONE_CLASS" jdbcType="VARCHAR" property="milestoneClass" />
  </resultMap>

  <sql id="Base_Column_List">
      ID,
      CODE,
      NAME,
      UNIT,
      PRICE,
      UNIT_PRICE,
      REALITY_DATE,
      ASSIST_DATE,
      TYPE,
      STATUS,
      DEL,
      TEAM_GROUP,
      MILESTONE,
      MILESTONE_CLASS
  </sql>
  <select id="findList" resultType="com.jh.entity.MesProcessQuota">
        select
          <include refid="Base_Column_List"/>
        from
    MES_PROCESS_QUOTA
        where
          DEL = #{del}
    <if test="code != null">
      and  CODE like '%'||#{code}||'%'
    </if>
    <if test="name != null">
      and  NAME like '%'||#{name}||'%'
    </if>
    order by  CODE asc
  </select>

  <select id="list" resultType="com.jh.entity.MesProcessQuota">
    select
     mpq.*
    from
      MES_PROCESS_QUOTA mpq
    left join
    (select mwmc.name,mwm.code from MES_WIN_MODEL mwm left join MES_WIN_MODEL_CRAFT mwmc on mwm.win_id = mwmc.WIN_MODEL_ID and mwm.del='0'and mwmc.del='0') a
    on mpq.code = a.name
    where
      DEL = #{del}
    <if test="code != null">
      and  CODE = #{code}
    </if>
    <if test="name != null">
      and  name = #{name}
    </if>
    <if test="id != null">
      and  id != #{id}
    </if>
    <if test="teamGroup != null">
      and  team_group = #{teamGroup}
    </if>
    <if test="status != null">
      and  STATUS = #{status}
    </if>
    <if test="codeNo != null">
      and a.code = #{codeNo}
    </if>
  </select>

  <select id="find" resultType="com.jh.entity.MesProcessQuota">
    select
    <include refid="Base_Column_List"/>
    from
    MES_PROCESS_QUOTA
    where
    ID = #{id}
  </select>

  <select id="findCode" resultType="com.jh.entity.MesProcessQuota">
    select
    <include refid="Base_Column_List"/>
    from
    MES_PROCESS_QUOTA
    where
    del ='0'
    <if test="code != null and code != '' ">
      and  CODE = #{code}
    </if>
    <if test="id != null and id != '' ">
      and  ID != #{id}
    </if>
    <if test="name != null and name != '' ">
      and  name = #{name}
    </if>
    <if test="teamGroup != null">
      and  team_group = #{teamGroup}
    </if>
    <if test="status != null">
      and  STATUS = #{status}
    </if>
  </select>

  <update id="update" parameterType="com.jh.entity.MesProcessQuota">
    update MES_PROCESS_QUOTA
    <set>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        UNIT = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        PRICE = #{price,jdbcType=VARCHAR},
    </if>
      <if test="unitPrice != null">
        UNIT_PRICE = #{unitPrice,jdbcType=VARCHAR},
    </if>
      <if test="realityDate != null">
        REALITY_DATE = #{realityDate,jdbcType=VARCHAR},
    </if>
      <if test="assistDate != null">
        ASSIST_DATE = #{assistDate,jdbcType=VARCHAR},
    </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=VARCHAR},
    </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        DEL = #{del,jdbcType=VARCHAR},
      </if>
      <if test="teamGroup != null">
        TEAM_GROUP = #{teamGroup,jdbcType=VARCHAR},
      </if>
      <if test="milestone != null">
        MILESTONE = #{milestone,jdbcType=VARCHAR},
      </if>
      <if test="milestoneClass != null">
        MILESTONE_CLASS = #{milestoneClass,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id}
  </update>


  <insert id="insert" parameterType="com.jh.entity.MesProcessQuota">
    insert into MES_PROCESS_QUOTA (ID, CODE, NAME, 
      UNIT, PRICE, UNIT_PRICE, 
      REALITY_DATE, ASSIST_DATE, TYPE, 
      STATUS, DEL, TEAM_GROUP,MILESTONE,MILESTONE_CLASS
      )
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{unit,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, #{unitPrice,jdbcType=VARCHAR}, 
      #{realityDate,jdbcType=VARCHAR}, #{assistDate,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{del,jdbcType=VARCHAR}, #{teamGroup,jdbcType=VARCHAR}, #{milestone,jdbcType=VARCHAR}
      , #{milestoneClass,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jh.entity.MesProcessQuota">
    insert into MES_PROCESS_QUOTA
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="unit != null">
        UNIT,
      </if>
      <if test="price != null">
        PRICE,
      </if>
      <if test="unitPrice != null">
        UNIT_PRICE,
      </if>
      <if test="realityDate != null">
        REALITY_DATE,
      </if>
      <if test="assistDate != null">
        ASSIST_DATE,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="del != null">
        DEL,
      </if>
      <if test="teamGroup != null">
        TEAM_GROUP,
      </if>
      <if test="milestone != null">
        MILESTONE,
      </if>
      <if test="milestoneClass != null">
        MILESTONE_CLASS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=VARCHAR},
      </if>
      <if test="realityDate != null">
        #{realityDate,jdbcType=VARCHAR},
      </if>
      <if test="assistDate != null">
        #{assistDate,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        #{del,jdbcType=VARCHAR},
      </if>
      <if test="teamGroup != null">
        #{teamGroup,jdbcType=VARCHAR},
      </if>
      <if test="milestone != null">
        #{milestone,jdbcType=VARCHAR},
      </if>
      <if test="milestoneClass != null">
        #{milestoneClass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>