<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.dao.MesWinModelMapper">
  <resultMap id="BaseResultMap" type="com.jh.entity.MesWinModel">
    <result column="WIN_ID" jdbcType="VARCHAR" property="winId" />
    <result column="WIN_NAME" jdbcType="VARCHAR" property="winName" />
    <result column="WIN_DICTIONARIES_ID" jdbcType="VARCHAR" property="winDictionariesId" />
    <result column="WIN_URL" jdbcType="VARCHAR" property="winUrl" />
    <result column="CREATE_DATE" jdbcType="VARCHAR" property="createDate" />
    <result column="DEL" jdbcType="VARCHAR" property="del" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
      <result column="STATUS" jdbcType="VARCHAR" property="status" />
      <result column="REMARK" jdbcType="VARCHAR" property="remark" />
      <result column="AUDIT_BY" jdbcType="VARCHAR" property="auditBy" />
      <result column="AUDIT_DATE" jdbcType="VARCHAR" property="auditDate" />
      <result column="CODE" jdbcType="VARCHAR" property="code" />
      <result column="MODEL_STATUS" jdbcType="VARCHAR" property="modelStatus" />
  </resultMap>


  <select id="findList" resultType="com.jh.entity.MesWinModel">
   select
          a.win_id AS "winId" ,
          a.win_name AS "winName" ,
          a.win_dictionaries_id AS "winDictionariesId",
          a.win_url AS "winUrl",
          a.del AS "createDate",
          a.creator AS "creator",
          a.STATUS AS "status",
          a.REMARK AS "remark",
          a.CODE AS "code",
          a.AUDIT_BY AS "auditBy",
          a.AUDIT_DATE AS "auditDate",
          a.MODEL_STATUS AS "modelStatus",
          d.dic_id AS "dicId",
          d.name AS "dicName",
          d.value AS "divValue"
      from
          mes_win_model a  left join  mes_dictionaries d
          on a.win_dictionaries_id = d.dic_id
      WHERE  d.status='1'
      <if test="winId != null and winId != '' ">
         and  a.win_id =#{winId}
      </if>
      <if test="code != null and code != '' ">
          and  a.code =#{code}
      </if>
      <if test="modelStatus != null and modelStatus != '' ">
          and  a.MODEL_STATUS =#{modelStatus}
      </if>
      <choose>
            <when test="del == null || del == '' ">
                and del= 0
            </when>
            <otherwise>
               and del= 1
            </otherwise>
      </choose>
      <if test="winName != null and winName != '' ">
       and   a.win_name like  CONCAT('%,', #{winName}, ',%'))
      </if>
</select>

    <select id="find" resultType="com.jh.entity.MesWinModel">
      select
        *
      from
          mes_win_model
      where  del=0
        and WIN_ID=#{id}
    </select>
    <select id="findName" resultType="com.jh.entity.MesWinModel">
      select
        *
      from
          mes_win_model
      where  del=0
        and code=#{code}
    </select>

    <update id="del" parameterType="com.jh.entity.MesWinModel">
        update mes_win_model
  <set>
      <if test="code!=null">code=#{code},</if>
      <if test="winName!=null">win_name=#{winName},</if>
      <if test="winDictionariesId!=null">win_dictionaries_id=#{winDictionariesId},</if>
      <if test="winUrl!=null">win_url=#{winUrl},</if>
      <if test="createDate!=null">create_date=#{createDate},</if>
      <if test="del!=null">del=#{del},</if>
      <if test="creator!=null">creator=#{creator},</if>
      <if test="status!=null">STATUS=#{status},</if>
      <if test="remark!=null">REMARK=#{remark},</if>
      <if test="auditBy!=null">AUDIT_BY=#{auditBy},</if>
      <if test="auditDate!=null">AUDIT_DATE=#{auditDate},</if>
      <if test="modelStatus!=null">MODEL_STATUS=#{modelStatus},</if>
  </set>
    WHERE win_id=#{winId}
  </update>


    <select id="findAll" resultType="com.jh.entity.MesWinModel">
        select
        *
        from
        mes_win_model
        where  del=0
        <if test="winName!=null">
            and win_name=#{winName}
        </if>
        <if test="code !=null">
            and CODE = #{code}
        </if>
        <if test="winId != null">
            and WIN_ID !=#{winId}
        </if>
        <if test="modelStatus != null">
            and MODEL_STATUS !=#{modelStatus}
        </if>
    </select>

  <insert id="insert" parameterType="com.jh.entity.MesWinModel">
    insert into MES_WIN_MODEL (WIN_ID, WIN_NAME, WIN_DICTIONARIES_ID, 
      WIN_URL, CREATE_DATE, DEL, CREATOR,
       STATUS, REMARK, AUDIT_BY, AUDIT_DATE,code,MODEL_STATUS)
    values (#{winId,jdbcType=VARCHAR}, #{winName,jdbcType=VARCHAR}, #{winDictionariesId,jdbcType=VARCHAR}, 
      #{winUrl,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{del,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}) , #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR} , #{auditBy,jdbcType=VARCHAR}
      , #{auditDate,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{modelStatus,jdbcType=VARCHAR}
  </insert>

  <insert id="insertSelective" parameterType="com.jh.entity.MesWinModel">
    insert into MES_WIN_MODEL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="winId != null">
        WIN_ID,
      </if>
      <if test="winName != null">
        WIN_NAME,
      </if>
      <if test="winDictionariesId != null">
        WIN_DICTIONARIES_ID,
      </if>
      <if test="winUrl != null">
        WIN_URL,
      </if>
      <if test="createDate != null">
        CREATE_DATE,
      </if>
      <if test="del != null">
        DEL,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
        <if test="status!=null">
          STATUS,
        </if>
        <if test="remark!=null">
         REMARK,
        </if>
        <if test="auditBy!=null">
         AUDIT_BY,
        </if>
        <if test="auditDate!=null">
         AUDIT_DATE,
        </if>
        <if test="code!=null">
          code,
        </if>
        <if test="modelStatus!=null">
            MODEL_STATUS,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="winId != null">
        #{winId,jdbcType=VARCHAR},
      </if>
      <if test="winName != null">
        #{winName,jdbcType=VARCHAR},
      </if>
      <if test="winDictionariesId != null">
        #{winDictionariesId,jdbcType=VARCHAR},
      </if>
      <if test="winUrl != null">
        #{winUrl,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        #{del,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>

        <if test="status!=null">
        #{status,jdbcType=VARCHAR},
        </if>
        <if test="remark!=null">
        #{remark,jdbcType=VARCHAR},
        </if>
        <if test="auditBy!=null">
        #{auditBy,jdbcType=VARCHAR},
        </if>
        <if test="auditDate!=null">
        #{auditDate,jdbcType=VARCHAR},
        </if>
        <if test="code!=null">
            #{code,jdbcType=VARCHAR},
        </if>
        <if test="modelStatus!=null">
            #{modelStatus,jdbcType=VARCHAR},
        </if>
    </trim>
  </insert>


    <select id="list" resultType="com.jh.entity.MesWinModel">
        select
        a.win_id AS "winId" ,
        a.win_name AS "winName" ,
        a.win_dictionaries_id AS "winDictionariesId",
        a.win_url AS "winUrl",
        a.del AS "createDate",
        a.creator AS "creator",
        a.STATUS AS "status",
        a.REMARK AS "remark",
        a.AUDIT_BY AS "auditBy",
        a.AUDIT_DATE AS "auditDate",
        a.MODEL_STATUS AS "modelStatus",
        a.code AS "code",
        d.dic_id AS "dicId",
        d.name AS "dicName",
        d.value AS "divValue"
        from
        mes_win_model a  left join  mes_dictionaries d
        on a.win_dictionaries_id = d.dic_id
        WHERE  d.status='1'
        <if test="modelStatus != null  and modelStatus != '' ">
            and  a.MODEL_STATUS =#{modelStatus}
        </if>
        <if test="winId != null  and winId != ''">
            and  a.win_id like '%'||#{winId}||'%'
        </if>
        <if test="winName != null  and winName != '' ">
            and  a.win_name like '%'||#{winName}||'%'
        </if>
        <if test="code != null  and code != '' ">
            and  a.code like '%'||#{code}||'%'
        </if>
        <choose>
            <when test="del == null ">
                and del= 0
            </when>
            <otherwise>
                and del= 1
            </otherwise>
        </choose>

      order  by a.code asc
    </select>

    <select id="query" resultType="com.jh.entity.MesWinModel">
        SELECT
            MES_WIN_MODEL_CRAFT.NAME AS "dicId",
            MES_WIN_MODEL_CRAFT.NUMBERS AS "numebrs"
        FROM
            MES_WIN_MODEL
            LEFT JOIN MES_WIN_MODEL_CRAFT ON MES_WIN_MODEL.WIN_ID = MES_WIN_MODEL_CRAFT.WIN_MODEL_ID
        WHERE
            MES_WIN_MODEL_CRAFT.CODE = '2'
            AND MES_WIN_MODEL.CODE = #{code}
    </select>


    <select id="findSum"  resultType="java.lang.Integer">
       SELECT
            SUM(TO_NUMBER(MES_WIN_MODEL_CRAFT.PERCENTAGE))
        FROM
             MES_WIN_MODEL
        LEFT JOIN
            MES_WIN_MODEL_CRAFT
            ON MES_WIN_MODEL.WIN_ID =MES_WIN_MODEL_CRAFT.WIN_MODEL_ID
            WHERE MES_WIN_MODEL.DEL='0'
            AND MES_WIN_MODEL_CRAFT.CODE='2'
            AND MES_WIN_MODEL_CRAFT.WIN_MODEL_ID=#{winId}
            AND MES_WIN_MODEL.DEL='0'
    </select>
</mapper>