<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>工序核查与处理</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="/css/font.css"/>
    <link rel="stylesheet" href="/css/xadmin.css"/>
    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <script type="text/javascript" src="/js/ajax-util.js"></script>
    <script type="text/javascript" src="/js/cookie.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/pagination/jquery.pagination.js"></script>
    <style>
        body {
            background: url(/images/bg.png) no-repeat center;
            background-size: cover
        }
        .x-so input.layui-input {
            width:320px;
        }
    </style>
</head>

<body>

<div class="x-body">
    <form id="form" class="layui-form layui-col-space5">
            <div class="layui-form layui-col-md12 x-so">
                <div class="layui-input-inline layui-show-xs-block">
                    <select name="taskId" id="taskId" lay-search lay-filter="taskIdFilter">
                        <option value="">请选择作业单</option>
                        <option th:value="${list.id}" th:text="${list.taskName}" th:each="list:${taskList}">待确认2</option>
                    </select>
                </div>

                <span  class="layui-btn"  onclick="search()">
                    查询
                </span>
                <!--<button class="layui-btn" onclick="search()"><i class="layui-icon">&#xe615;</i>查询</button>-->
            </div>

            <div class="layui-form-item" id="screenDiv" style="display:none;">
                <label  class="layui-form-label">
                    窗号：
                </label>
                <div class="layui-input-inline">
                    <select name="winNo" id="winNo" lay-search>
                    </select>
                </div>
                <label class="layui-form-label">
                    工序名称：
                </label>
                <div class="layui-input-inline layui-show-xs-block">
                    <select name="modelName" id="modelName" lay-search>
                    </select>
                </div>
                <span  class="layui-btn"  onclick="screen()">
                    筛选
                </span>
            </div>
    </form>
    <div id="frenshDiv1">
        <xblock>
            <span>作业单总需求量明细</span>
        </xblock>
        <table class="layui-table">
            <thead>
            <tr>
                <!--<th>ID</th>-->
                <th>窗号</th>
                <th>工序组</th>
                <th>工序名称</th>
                <th>需求量</th>
                <th>已产量</th>
                <th>未产量</th>
            </thead>
            <tbody id="tbody1">
            </tbody>
        </table>
    </div>
</div>
<div class="x-body" id="frenshDiv2">
    <div>
        <xblock>
            <span>员工上报明细</span>
        </xblock>
        <table class="layui-table">
            <thead>
            <tr>
                <th>员工编码</th>
                <th>姓名</th>
                <th>窗号</th>
                <th>工序组</th>
                <th>工序名称</th>
                <th>上报数量</th>
                <th>上报日期</th>
                <th>原因</th>
                <th>操作</th>
            </thead>
            <tbody id="tbody2">
            </tbody>
        </table>
    </div>
    <div id="page2" class="page"></div>
</div>
<script>

    layui.use(['form','laydate'], function() {
        var form = layui.form;
        form.on('select(taskIdFilter)', function(data){
            $("#winNo").empty();
            $("#modelName").empty();
            var urlWinNo = '/mesBudgetTaskworkDeal/dealSelectWinNo?taskId=' + $("#taskId option:selected").val();
            var urlModelName = '/mesBudgetTaskworkDeal/dealSelectModelName?taskId=' + $("#taskId option:selected").val();
            $.ajax({
                url:urlWinNo,
                success:function(data){
                    var optionWinNo = "<option value=''></option>";
                    for(var i = 0 ; i < data.length; i ++){
                        optionWinNo += "<option>"+data[i].winNo+"</option>"
                    }
                    $("#winNo").append(optionWinNo);
                    form.render('select');
                    $.ajax({
                        url:urlModelName,
                        success:function(data){
                            var optionModelName = "<option value=''></option>";
                            for(var i = 0 ; i < data.length; i ++){
                                optionModelName += "<option value='"+data[i].procedureId+"'>"+data[i].name+"</option>"
                            }
                            $("#modelName").append(optionModelName)
                            form.render('select');
                        }
                    })
                }
            })



            form.render('select');
        })
    })

    function deal_problem(id) {

        layer.open({
            type: 2,
            area: [$(window).width() + 'px', ($(window).height()) + 'px'],
            fix: false, //不固定
            maxmin: true,
            shadeClose: true,
            shade: 0.4,
            title: "问题处理",
            content: "/mesBudgetTaskworkDeal/toDealProblemPage?id=" + id
        });
    }

    function screen() {
        $("#tbody1").empty();
        $("#tbody2").empty();
        var url1 = '/mesBudgetTaskworkDeal/getDealList1?taskId=' + $("#taskId option:selected").val()+"&winNo="+$("#winNo option:selected").text()+"&name="+$("#modelName option:selected").text()
        $.ajax({
            url: url1,
            success: function (data1) {
                if(data1.status){
                    data1=data1.list;
                    var url2 = '/mesBudgetTaskworkDeal/getDealList2?taskId=' + $("#taskId option:selected").val()+"&winNo="+$("#winNo option:selected").text()+"&name="+$("#modelName option:selected").text()
                    var tr1 = "";
                    for (var i = 0; i < data1.length; i++) {
                        tr1 += "<tr><td>" + data1[i].winNo + "</td>";
                        tr1 += "<td>" + data1[i].processGroupName + "</td>";
                        tr1 += "<td>" + data1[i].name + "</td>";
                        tr1 += "<td>" + data1[i].taskNum + "</td>";
                        tr1 += "<td>" + data1[i].doneNum + "</td>";
                        tr1 += "<td>" + (data1[i].taskNum - data1[i].doneNum) + "</td></tr>";
                    }
                    $("#tbody1").append(tr1);

                    $.ajax({
                        url: url2,
                        success: function (data2) {
                            if(data2.status){
                                var tr2 = "";
                                data2 = data2.list;
                                for (var i = 0; i < data2.length; i++) {
                                    tr2 += "<tr><td>" + data2[i].username + "</td>";
                                    tr2 += "<td>" + data2[i].nickname + "</td>";
                                    tr2 += "<td>" + data2[i].winNo + "</td>";
                                    tr2 += "<td>" + data2[i].processGroupName + "</td>";
                                    tr2 += "<td>" + data2[i].name + "</td>";
                                    tr2 += "<td>" + data2[i].doneNum + "</td>";
                                    tr2 += "<td>" + data2[i].reportTime + "</td>";
                                    tr2 += "<td>" + (data2[i].reason==null?'':data2[i].reason) + "</td>";
                                    tr2 += "<td class='td-manage'><button th:each=\"menuButton:${menuButtonList}\" th:if=\"${menuButton.buttonId}=='21'and${menuButton.status}=='1'\"  class=\"layui-btn layui-btn layui-btn-xs\" onclick=\"deal_problem('" + data2[i].id + "')\" >问题处理</button></td></tr>";
                                }
                                $("#tbody2").append(tr2)

                            }else{
                                layer.msg(data2.msg,{icon:7,time:2000});
                            }

                        }
                    })
                }else{
                    layer.msg(data1.msg,{icon:7,time:2000});
                }
            }
        })

    }

    function search() {
        $("#tbody1").empty();
        $("#tbody2").empty();
        if($("#taskId option:selected").val()==''){
            layer.msg("请选择一个作业单", {icon: 7, time: 2000});
            return;
        }
        var url1 = '/mesBudgetTaskworkDeal/getDealList1?taskId=' + $("#taskId option:selected").val()
        $.ajax({
            url: url1,
            success: function (data1) {
                if(data1.status){
                    if(data1.list.length > 0 ){
                        $("#screenDiv").attr("style","display:block");
                    }else{
                        layer.msg("当前选择的作业单并没有员工进行上报", {icon: 7, time: 2000});
                        $("#screenDiv").attr("style","display:none");
                    }
                    var url2 = '/mesBudgetTaskworkDeal/getDealList2?taskId=' + $("#taskId option:selected").val();
                    var tr1 = "";
                    data1 = data1.list;
                    for (var i = 0; i < data1.length; i++) {
                        tr1 += "<tr><td>" + data1[i].winNo + "</td>";
                        tr1 += "<td>" + data1[i].processGroupName + "</td>";
                        tr1 += "<td>" + data1[i].name + "</td>";
                        tr1 += "<td>" + data1[i].taskNum + "</td>";
                        tr1 += "<td>" + data1[i].doneNum + "</td>";
                        tr1 += "<td>" + (data1[i].taskNum - data1[i].doneNum) + "</td></tr>";
                    }
                    $("#tbody1").append(tr1);

                    $.ajax({
                        url: url2,
                        success: function (data2) {
                            if(data2.status){
                                var tr2 = "";
                                data2 = data2.list;
                                for (var i = 0; i < data2.length; i++) {
                                    tr2 += "<tr><td>" + data2[i].username + "</td>";
                                    tr2 += "<td>" + data2[i].nickname + "</td>";
                                    tr2 += "<td>" + data2[i].winNo + "</td>";
                                    tr2 += "<td>" + data2[i].processGroupName + "</td>";
                                    tr2 += "<td>" + data2[i].name + "</td>";
                                    tr2 += "<td>" + data2[i].doneNum + "</td>";
                                    tr2 += "<td>" + data2[i].reportTime + "</td>";
                                    tr2 += "<td>" + (data2[i].reason==null?'':data2[i].reason) + "</td>";
                                    tr2 += "<td class='td-manage'><button th:each=\"menuButton:${menuButtonList}\" th:if=\"${menuButton.buttonId}=='21'and${menuButton.status}=='1'\"  class=\"layui-btn layui-btn layui-btn-xs\" onclick=\"deal_problem('" + data2[i].id + "')\" >问题处理</button></td></tr>";
                                }
                                $("#tbody2").append(tr2)
                            }else{
                                layer.msg(data2.msg,{icon:7,time:2000});
                            }

                        }
                    })
                }else{
                    layer.msg(data1.msg,{icon:7,time:2000});
                }


            }
        })

    }

</script>
</body>

</html>